@model ProductListViewModel
@{
  Layout = "_Layout";
}

<div class="bg-dark bg-gradient border border-2">
  <div class="text-center">
    <div class="display-6 my-4 text-white fw-bolder">
      Products
    </div>
    <div class="d-flex justify-content-end mb-3"><a class="btn btn-success" asp-action="Create">
        <i class="fa-solid fa-plus"></i>
        Create
      </a>
    </div>

  </div>
  
  <div class="row mx-auto">
    <div class="col-md-3 border border-2 rounded-4 bg-gradient bg-dark">
      @await Component.InvokeAsync("CategoriesMenu")
      @await Component.InvokeAsync("ProductFilterMenu")
    </div>
    <div class="col-md-9 border border-2 rounded-4 bg-dark">
 <table class="table table-dark table-hover">
      <thead>
        <tr class="fs-4">

          <th>Id</th>
          <th>Image</th>
          <th>Product Name</th>
          <th>Showcase</th>
          <th>Price</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var prd in Model.Products)
        {
          <tr>
            <td class="fw-bold">@prd.ProductId</td>
            <td>
              <img class="border border-light rounded" src="@prd.ImageUrl" alt="" height="75" width="50%">
            </td>
            <td class="fw-bold">
              <div class="btn-group gap-4 justify-content-end">
                <div class="fs-5 fw-bold">
                  @prd.ProductName
                </div>
              </div>
            </td>
            <td>
              <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" checked="@prd.ShowCase" disabled />
              </div>
            </td>
            <td class="fw-bold">@prd.Price.ToString("c")</td>
            <td class="fw-bold">
              <div class="btn-group gap-2 justify-content-between">
                <a data-toggle="tooltip" data-placement="top" title="View" target="_blank" asp-route-id="@prd.ProductId"
                  asp-action="Get" asp-controller="Product">
                  <button class="btn btn-outline-info"> <i class="fa fa-search"></i></button>
                </a>

                <a data-toggle="tooltip" data-placement="top" title="Update" asp-action="Update"
                  asp-route-id="@prd.ProductId">
                  <button class="btn btn-outline-warning"> <i class="fa fa-edit"></i> </button>
                </a>

                <a data-toggle="tooltip" data-placement="top" title="Delete" asp-action="Delete"
                  asp-route-id="@prd.ProductId">
                  <button class="btn btn-outline-danger"> <i class="fa fa-remove"></i> </button></a>

              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  
 <div class="text-center">
            <div page-model="@Model?.Pagination" page-action="Index" page-class="btn"
                page-classes-normal="btn-outline-light" page-class-selected="btn-primary" page-classes-enabled="true"
                class="btn-group gap-2 mx-auto">
            </div>
        </div>

   
  </div>
</div>
</div>
@section Scripts
{
  <script type="text/javascript">
    $(document).ready(() => {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
}